<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

  <display-name>hello</display-name>
  <description>
     simple servlet
  </description>
	<filter>
		<filter-name>RequestFilter</filter-name>
		<filter-class>com.maxm.filter.RequestFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RequestFilter</filter-name>
		<url-pattern>/api</url-pattern>
	</filter-mapping>
  <servlet>
  	<servlet-name>Gateway</servlet-name>
  	<servlet-class>com.maxm.servlet.Gateway</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gateway</servlet-name>
    <url-pattern>/api</url-pattern>
  </servlet-mapping>
</web-app>
